* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
article {
	width: 60%;
	margin: auto;
	margin-top: 1rem;
	font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: transparent; */
}
.container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    
}
.container::before{
    content: '';
    background: url('./yasamine-june-5Z_qE6hjl7s-unsplash.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    
  }
  h1{
    color: rgba(0, 0, 0, 0.9);
  }
  .display{
    color: black;
  }
  @media (max-width: 768px) {
    article{
        width: 90%;
       
    }
  }